# .env file support
python_dotenv

# Data formats
pyyaml

# Date parsing
dateparser

# HTTP requests
requests

# JSON Schema validation
jsonschema

# Pandas data structures
pandas

# Python formatting
autopep8
flake8
pylint

# Python fuzzy string matching
python-Levenshtein
thefuzz

# Python interpreter
ipython

# Python package versioning
bump

# Python testing
pytest
pytest-cov

# Static code analysis
bandit

# YAML formatting
yamllint
