# .env file support
python_dotenv==1.2.2

# Data formats
pyyaml==6.0.3

# Date parsing
dateparser==1.4.1

# JSON Schema validation
jsonschema==4.26.0

# Pandas data structures
pandas==3.0.5

# Python fuzzy string matching
python-Levenshtein==0.27.4
thefuzz==0.22.1

# Python HTTP requests
requests==2.34.2

# Slack Web API
slack_sdk==3.43.0
